* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f9f9;
    color: #333;
}

header {
    background: linear-gradient(to left, #0077b6, #009688);
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    color: white;
    margin: 10px;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)),
    url("https://images.unsplash.com/photo-1501004318641-b39e6451bec6");
    background-size: cover;
    color: white;
    text-align: center;
    padding: 100px 20px;
}

.hero button {
    padding: 10px 20px;
    background: #00b894;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}

.section {
    padding: 60px 20px;
    text-align: center;
}

.section img {
    width: 70%;
    margin: 20px 0;
    border-radius: 10px;
}

.blue {
    background: #e0f7fa;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.counter {
    font-size: 40px;
    color: #0077b6;
}

input, textarea {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 60%;
}

button.exit {
    background: red;
    margin-top: 10px;
}

footer {
    background: #0077b6;
    color: white;
    padding: 15px;
}
