*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Tahoma;
}

body{
background:#f4f7f6;
color:#222;
line-height:1.7;
transition:0.3s;
}

.dark{
background:#121212;
color:white;
}

.header{
display:flex;
justify-content:space-between;
align-items:center;
background:#2e7d32;
color:white;
padding:15px 30px;
position:sticky;
top:0;
}

nav ul{
display:flex;
gap:15px;
list-style:none;
}

nav a{
color:white;
text-decoration:none;
font-weight:bold;
}

.menu-btn{
display:none;
}

.hero{
text-align:center;
padding:80px 20px;
background:linear-gradient(to right,#2e7d32,#66bb6a);
color:white;
}

.section{
padding:60px 20px;
text-align:center;
}

.gray{
background:#e8f5e9;
}

.cards{
display:flex;
justify-content:center;
gap:20px;
flex-wrap:wrap;
}

.card{
background:white;
padding:20px;
width:250px;
border-radius:10px;
box-shadow:0 4px 8px rgba(0,0,0,0.1);
}

.stats{
display:flex;
justify-content:center;
gap:40px;
font-size:28px;
}

.faq-item p{
display:none;
margin-top:10px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:8px 15px;
cursor:pointer;
border:none;
background:#2e7d32;
color:white;
}

footer{
background:#1b5e20;
color:white;
text-align:center;
padding:20px;
}

@media(max-width:768px){
nav ul{
flex-direction:column;
display:none;
background:#2e7d32;
position:absolute;
top:60px;
right:0;
padding:15px;
}
.menu-btn{
display:block;
background:#1b5e20;
}
}
